header{
    background-color: #154f9d;
    height: 80px;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0%;
}
h3{
    text-align: left;
    margin-left: 10%;
    font-family: 'Raleway ExtraBold',Arial;
    font-size: 20pt;
    line-height: 250%;
    position: fixed;
    top: -3%;
}

header .img_header{
    width: 100px;
    height: 50px;
    margin-top: 1%;
    float: right;
    position: fixed;
    right: 5%;
}
.sop{
	margin-left: 80px;
	margin-top: 110px;
	color: #0000FF;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway SemiBold',Arial;
    font-size: 14.0pt;
    font-style: normal;
    line-height: 0px;
}
body{
    height: 50%;
	margin: 0%;
	width: 100%
}
footer{
    background-color: #154f9d;
    height: 80px;
    margin-top: 30%;
    width: 100%;
    color: #FFFFFF;
    position: absolute;
}
h4{
    text-align: left;
    margin-left: 10%;
    font-family: 'Raleway ExtraBold',Arial;
    font-size: 13pt;
    line-height: 200%;
    position: absolute;
}
footer .img_footer{
    width: 170px;
    height: 50px;
    float: right;
    display: block;
    margin-right: 5%;
    margin-top: 1%;
}
body{
    height: 50%;
    margin: 0%;
    width: 100%;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;

}
li ul {
    position: relative;
    margin-left: 0%;
    display: none; /*esconde o submenu*/
}
li ul input{
    background-color: white;
    margin-left: 40%;
    border-style: none;
    font-family: 'Arial',Arial;
    text-align: left;
    margin-top: 3%;
    margin-bottom: 3%;
    color: black;
    font-size: 1em;
    width: 50%;
}
 a {
    display: block;
    text-decoration: none;/*tira o sublinhado*/
    color: #666666;
    padding: 5px;
    background-color: #edeff1;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #1b5bbc;
    width: 180px;
    height: 25px;
    font-family: 'Arial',Arial; 
    margin-left: 35%;
}

li:hover ul { display: block;
}
.menu-container{
    width: 30%;
    float: left;
    margin-top: 8%
}
.sub input:hover{
    color: #154f9d;
    text-decoration: underline;
}
.img_home{
    width: 18%;
    margin-bottom: -2.3%;
    margin-left: 2%;
}
.inicio{
    font-size: 1.5em;
    margin-bottom: 5%;
    background-color: white;
    border-top-style: none;

}
.inicio a{
    background-color: white;
    border-style: none;

}
.submit{
	margin-left: 50%;
}
input{
	width: 33%;
	height: 24.5px;
	text-align: left;
	padding-left: 1.5%;
}

h2{
	text-align: center;
	font-family: 'Roboto-Black',Arial;
	font-size: 1.5em;
	margin-bottom: 50%;
	color: black;
}
.h2_1{
	height: 2%;
	text-align: left;
	margin-left: 48%;
	margin-top: 3%;
	margin-bottom: 2%;
	font-family: 'Raleway ExtraBold',Arial;
}
.ativar_h2{
	height: 2%;
	text-align: left;
	margin-left: 51%;
	margin-top: 3%;
    position: initial;
	margin-bottom: 2%;
	font-family: 'Raleway ExtraBold',Arial;
    display: block;
}

.desativar_h2{
	height: 2%;
	text-align: left;
	margin-left: 49%;
	margin-top: 3%;
	margin-bottom: 2%;
	font-family: 'Raleway ExtraBold',Arial;
}
.editar_h2{
	height: 2%;
	text-align: left;
	margin-left: 51%;
	margin-top: 3%;
	margin-bottom: 2%;
	font-family: 'Raleway ExtraBold',Arial;
}
.nome{
	border-style: none;
}
.form{
	border-style: solid;
	width: 60%;
	height: 35em;
	margin-left: 27%;
	background-color: #edeff1;
	border-style: solid;
	border-color: #d9d9d9;
}
.form:hover{
	border-color: #154f9d;
}
.form_editar{
	border-style: solid;
	width: 60%;
	height: 43em;
	margin-left: 27%;
	background-color: #edeff1;
	border-style: solid;
	border-color: #d9d9d9;
}
.form_editar:hover{
	border-color: #154f9d;
}
.form_ativar{
	border-style: solid;
	width: 60%;
	height: 27em;
	margin-left: 27%;
	background-color: #edeff1;
	border-style: solid;
	border-color: #d9d9d9;
}
.form_ativar:hover{
	border-color: #154f9d;
}
.nome_orgao{
	border-style: none;
	margin-top: -48%;
}
.novo_nome{
	border-style: none;
}
.estado, .cidade{
	border-style: none;
}
input{
	margin-left: 35%;
	width: 30%;
	height: 2em;
	line-height: 200%;
	display: flex;
}
select{
	margin-left: 35%;
	width: 32.3%;
	height: 2.4em;
	margin-bottom: 2%;
	display: flex;
}
.senha{
	border-style: none;
	margin-bottom: -0.75%;

}
.cadastrar_orgao, .botao_orgao, .botao_desativar{
	border-style: none;
	width: 20%;
	height:3em;
	color: white;
	background-color: blue;
	font-size: 1em;
	margin-left: 41.5%;
	padding-left: 3.5%;
	margin-top: 4%;
	margin-bottom: 2%;
	display: flex;
}
.botao_orgao{
	padding-left: 5.9%;
}
.botao_desativar{
	padding-left: 4.8%;
}



/*footer{
    background-color: #154f9d;
    height: 6em;
    margin: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #FFFFFF;
}
#global{
    margin: 0;
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 35em;
}
nav{
    width: 30%;
    height: 100%;
    margin: 0;
}
main{
    width: 90%;
    height: 100%;
    float: right;
}
iframe{
    width: 100%;
    height: 100%;
}
header{
    background-color: #154f9d;
    height: 6em;
    color: #FFFFFF;
    width: 100%;
    position: fixed;
    top: 0%;
}
h3{
    text-align: left;
    margin-left: 10%;
    font-family: 'Raleway ExtraBold',Arial;
    font-size: 20pt;
    line-height: 250%;
    position: fixed;
    top: -0.5em;
}
h4{
    text-align: left;
    margin-left: 10%;
    font-family: 'Raleway ExtraBold',Arial;
    font-size: 13pt;
    line-height: 400%;
}

a{
    color: #4d4d33;
    margin-left: 10px;
    line-height: 200%;
    text-decoration: none;
}
.img_header{
    width: 100px;
    height: 50px;
    margin-top: -5.5em;
    float: right;
    position: fixed;
    right: 5%;
    top: 12.4%;
}
.img_footer{
    width: 170px;
    height: 50px;
    float: right;
    position: absolute;
    bottom: 2em;
    right: 6em; 
}
.sop{
    margin-left: 80px;
    margin-top: 110px;
    color: #0000FF;
    text-align: left;
    text-decoration: none;
    font-family: 'Raleway SemiBold',Arial;
    font-size: 14.0pt;
    font-style: normal;
    line-height: 0px;
}
.img_home{
    width: 40px;
    margin-top: 20%;
    margin-left: 5.7%;
    margin-bottom: 2%;
    line-height: 10px;
}
body{
    height: 50%;
    margin: 0%;
    width: 100%
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
    width: 150px;

}
ul{
    margin-left: 5%;
}
li ul {
    position: relative;
    margin-left: 0%;
    display: none; esconde o submenu
}
ul li a {
    display: block;
    text-decoration: none;tira o sublinhado
    color: #666666;
    padding: 5px;
    background-color: #edeff1;
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #1b5bbc;
    width: 180px;
    height: 25px;
    font-family: 'Arial',Arial; 
    margin-left: 35%;
}
.sub li a{
    background-color: white;
    color: black;
    border-style: none;
}
li:hover ul { display: block;
}
.menu-container{
    width: 30%;
    margin-top: 2%;
}
.sub a:hover{
    color: #154f9d;
    text-decoration: underline;
}
body{
    height: 50px;
    width: 100%
}
.inicio{
    width: 10em;
}
.img_home{
    margin-left: 3em;
}
.ini{
    margin-left: 1em;
}*/